<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>TestHeroEdit</title>

  <link rel="stylesheet" href="css/styles.css">
  <script
          src="https://code.jquery.com/jquery-1.12.4.min.js"
          integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="
          crossorigin="anonymous"></script>

</head>
<body>

<div class="container mt-5 mb-5">

  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


  <div class="bootstrap-specificity">
    <style>
      #edit-map button { height: auto }
    </style>
    <script type="text/x-template" id="point-template">
      <div class="link-form">
        <div class="form-group">
          <label class="form-control-label">Name</label>
          <input type="text" class="form-control" v-model="name">
        </div>
        <div class="form-group">
          <label class="form-control-label">Asset ID</label>
          <input type="text" class="form-control" v-model="assetid">
        </div>
        <button type="button" class="btn btn-primary" @click="addClick" :disabled="name.length === 0 || lat.length === 0 || long.length === 0">Add link</button>
      </div>
    </script>

    <div id="edit-map">
      <div class="row">
        <div class="col-6">
          <h3>Add office</h3>
          <link-template @addclick="addLink"></link-template>
        </div>
        <div class="col-6">
          <h3>Offices</h3>

          <div class="card mb-3" v-for="(item, idx) in pointsData" :key="idx">
            <h5 class="mt-0 card-header">{{item.name}}</h5>
            <div class="card-body">

              <p class="mb-1" >
                <strong>Longitude</strong> {{item.point[0]}}<br>
                <strong>Latitude</strong> {{item.point[1]}}
              </p>

              <p class="mb-1">
                <span v-if="item.address1">{{item.address1}} <br></span>
                <span v-if="item.address2">{{item.address2}} <br></span>
                <span v-if="item.address3">{{item.address3}}</span>
              </p>
              <p class="mb-1" v-if="item.phone">
                <strong><abbr title="Phone number">P</abbr></strong> {{item.phone}}
              </p>
              <p class="mb-1" v-if="item.fax">
                <strong><abbr title="Fax number">F</abbr></strong> {{item.fax}}
              </p>
              <button type="button" class="btn btn-danger" @click="removePoint(idx)">Remove</button>
            </div>
          </div>
          <div class="d-none">%metadata-F_1185861^replace:<textarea:<textarea v-model="cPoints"%</div>
        </div>
      </div>

    </div>
  </div>

  <script>
    $.getScript("https://cdn.jsdelivr.net/npm/vue/dist/vue.js", function( data, textStatus, jqxhr ) {
      var defaultData = {
        assetid: '',
        name: ''
      };
      Vue.component('point-template', {
        template: '#point-template',
        data: function() {
          return Object.assign({}, defaultData)
        },
        methods: {
          getLinkData: function() {
            return {
              assetid: parseInt(this.assetid),
              name: this.name
            }
          },
          addClick: function() {
            this.$emit('addclick', this.getLinkData());

            this.name = '';
            this.assetid = '';
            // this.$data = defaultData;
          }
        }
      });

      const app = new Vue({
        el: '#edit-map',
        data: {
          linksData: [],
          pointsInitialValue: ''
        },
        computed: {
          cPoints: {
            get: function() {
              return JSON.stringify(this.linksData);
            },
            set: function(val) {
              this.pointsData = JSON.parse(val);
            }
          }
        },
        beforeMount: function() {
          const el = document.getElementById('container_' + "%asset_assetid%" + '_metadata_field_text_1185861_value');
          this.linksInitialValue = el.innerHTML;
        },
        mounted: function() {
          this.cPoints = this.linksInitialValue;
        },
        methods: {
          addLink: function(point) {
            this.linksData.push(point);
          },
          removeLink: function(idx) {
            this.linksData.splice(idx, 1);
          }
        }
      })
    })

  </script>
</div>

</body>
</html>