.text-navy {
  color: $navy;
}
.text-tan {
  color: $tan;
}

.g-height-100x--lg {
  @media (min-width: map_get($grid-breakpoints, lg)) {
    height: 100%;
  }
}

.g-sub-p-mb-0 p {
  margin-bottom: 0;
}