/*------------------------------------
  Components
------------------------------------*/

$g-color-main: #23364E ;
$g-bg-color-main: #fff ;
$g-color-primary: #23364E ;
$g-color-secondary: #a69b98;

// Variables
@import "../../unify/include/scss/settings/variables";

// Mixins
@import "../../unify/include/scss/tools/mixins";

//
// Bases
//

@import "../../unify/include/scss/base/alerts";
@import "../../unify/include/scss/base/arrows";


//
// Dividers
@import "../../unify/include/scss/base/dividers/dividers";
@import "../../unify/include/scss/base/dividers/divider-style-solid";
@import "../../unify/include/scss/base/dividers/divider-style-dotted";
@import "../../unify/include/scss/base/dividers/divider-style-dashed";
@import "../../unify/include/scss/base/dividers/divider-style-db-solid";
@import "../../unify/include/scss/base/dividers/divider-style-db-dashed";
@import "../../unify/include/scss/base/dividers/divider-style-db-dotted";
@import "../../unify/include/scss/base/dividers/divider-style-linear-gradient";
@import "../../unify/include/scss/base/dividers/divider-type-icon";



//
// Bg-nonstandarts
@import "../../unify/include/scss/base/bg-nonstandarts";

//
// Nonstandard-bg
@import "../../unify/include/scss/base/nonstandard-bg/nonstandard-bg";
@import "../../unify/include/scss/base/nonstandard-bg/nonstandard-bg-v1";
@import "../../unify/include/scss/base/nonstandard-bg/nonstandard-bg-v2";
@import "../../unify/include/scss/base/nonstandard-bg/nonstandard-bg-v3";
@import "../../unify/include/scss/base/nonstandard-bg/nonstandard-bg-v4";
@import "../../unify/include/scss/base/nonstandard-bg/nonstandard-bg-v5";
@import "../../unify/include/scss/base/nonstandard-bg/nonstandard-bg-v6";
@import "../../unify/include/scss/base/nonstandard-bg/nonstandard-bg-v7";


@import "../../unify/include/scss/base/labels";
@import "../../unify/include/scss/base/links";
@import "../../unify/include/scss/base/lists";
@import "../../unify/include/scss/base/media";
@import "../../unify/include/scss/base/orders";
@import "../../unify/include/scss/base/sticky-blocks";
@import "../../unify/include/scss/base/text-animations";
@import "../../unify/include/scss/base/bg-markers";
@import "../../unify/include/scss/base/tooltips";
@import "../../unify/include/scss/base/typography";
@import "../../unify/include/scss/base/video-audio";
@import "../../unify/include/scss/base/navigation/navigation";
@import "../../unify/include/scss/base/dropdown";
@import "../../unify/include/scss/base/bg-angles";
@import "../../unify/include/scss/base/block-hovers";

//
// Dropdowns
@import "../../unify/include/scss/base/dropdowns/dropdowns-v1";
@import "../../unify/include/scss/base/bg-overlays";




//
// Helpers
//

@import "../../unify/include/scss/base/outer-spaces-helper";

// Icons
@import "../../unify/include/scss/base/icons/icons";
@import "../../unify/include/scss/base/icons/icon-v1";
@import "../../unify/include/scss/base/icons/icon-v2";
@import "../../unify/include/scss/base/icons/icon-v3";
@import "../../unify/include/scss/base/icons/icon-v4";
@import "../../unify/include/scss/base/icons/icon-v5";


//
// Blocks
//

@import "../../unify/include/scss/blocks/info";



//
// Vendors
//

//@import "../../unify/include/scss/vendors/vendor";

//@import "../../unify/include/scss/vendors/chosen/style";
//@import "../../unify/include/scss/vendors/cubeportfolio/style";
@import "../../unify/include/scss/vendors/fancybox/style";
@import "../../unify/include/scss/vendors/hamburgers/style";
//@import "../../unify/include/scss/vendors/hs-megamenu/style";
//@import "../../unify/include/scss/vendors/icon-etlinefont/style";
//@import "../../unify/include/scss/vendors/icon-material/style";
@import "../../unify/include/scss/vendors/jquery.filer/style";
@import "../../unify/include/scss/vendors/jquery-ui/style";
//@import "../../unify/include/scss/vendors/jvectormap/style";
//@import "../../unify/include/scss/vendors/malihu-scrollbar/style";
//@import "../../unify/include/scss/vendors/pinmap/style";
//@import "../../unify/include/scss/vendors/plyr/style";
//@import "../../unify/include/scss/vendors/prism/style";
//@import "../../unify/include/scss/vendors/select2/style";
@import "../../unify/include/scss/vendors/slick/style";
//@import "../../unify/include/scss/vendors/custombox/style";



//
// JS
//

@import "../../unify/include/scss/js/js";



//
// IE
//

@import "../../unify/include/scss/ie/ie";

