.bg- {
  &dark-transparent {
    background-color: rgba($black, 0.4);
  }
  &dust {
    background-color: $dust;
  }
  &dust-transparent {
    background-color: rgba($dust, 0.5);
  }
  &tan {
    background-color: $tan ;
  }
  &light-grey {
    background-color: $light-grey ;
  }
  &navy {
    background-color: $navy ;
  }
  &orange {
    background-color: $orange ;
  }
  &none {
    @media (min-width: map_get($grid-breakpoints, lg)) {
      &--lg {
        background-color: transparent !important;
        background: none !important;
      }
    }
    @media (min-width: map_get($grid-breakpoints, md)) {
      &--md {
        background: none !important;
        background-color: transparent !important;
      }
    }
  }
  &white-opacity-0_4 {
    background-color: rgba(255,255,255,0.4);
  }
  &white-opacity-0_6 {
    background-color: rgba(255,255,255,0.6);
  }
  &transparent--lg {
    @media (min-width: map_get($grid-breakpoints, lg)) {
      background-color: transparent;
    }
  }
}

.border- {
  &navy {
    border-color: $navy;
  }
}