<template>
  <div>
    <b-jumbotron color="primary" header-level="4" v-if="mode !== 'answer'">

      <template #header>Calculate registration fee</template>

      <b-form-group
        id="fieldset-1"
        label="Which registration types will you require?"
        label-for="input-1"
      >
        <b-form-checkbox-group id="input-1"
          :options="registrationTypeOptions"
          v-model="registrationType"
          value-field="id"
          trim
          stacked>
        </b-form-checkbox-group>
        <b-form-invalid-feedback :state="state('registrationType')">
          Please select at least one registration type
        </b-form-invalid-feedback>
      </b-form-group>

      <b-form-group
        id="fieldset-6"
        label="Select registration start date?"
        label-for="input-6"
      >
        <b-form-datepicker v-model="startDate" trim locale="en" />
        <b-form-invalid-feedback :state="state('startDate')">
          Please select a start date
        </b-form-invalid-feedback>
      </b-form-group>

      <b-row>
        <b-col>
          <b-form-group
            id="fieldset-2"
            label="Birth month"
          >
            <b-form-select v-model="birth.month" :options="monthOptions">
            </b-form-select>
            <b-form-invalid-feedback :state="state('birthmonth')">
              Please select a birth month
            </b-form-invalid-feedback>
          </b-form-group>
        </b-col>
        <b-col>
          <b-form-group
            id="fieldset-3"
            label="Birth date"
          >
            <b-form-select
              v-model="birth.date"
              :disabled="birth.month < 1"
              :options="dateOptions">
            </b-form-select>
            <b-form-invalid-feedback :state="state('birthdate')">
              Please select a birth date
            </b-form-invalid-feedback>
          </b-form-group>
        </b-col>
      </b-row>
      <b-form-group
        id="fieldset-4"
        label="Please select registration duration?"
        label-for="input-4"
      >
        <b-form-radio-group id="input-4"
          :options="durationOptions"
          v-model="duration"
          value-field="value"
          trim
          stacked>
        </b-form-radio-group>
      </b-form-group>
      <button class="bg-navy btn text-white" @click="calculate">
        Calculate
      </button>
      {{ dayCalculation }}
    </b-jumbotron>
    <b-jumbotron header-level="4" v-else>
      <template #header>Registration fee</template>

      <template #lead>

        <hr class="my-4">

        Based on the information provided, the fee payable will be….
      </template>

      <p class="mb-4 h5">
        {{fee}}
      </p>

      <b-button variant="primary" class="never-underline mr-3" href="https://www.onegov.nsw.gov.au/gls_portal/gwic/Transactions/GWIC.mvc">
        Register now</b-button>
      <b-button variant="info" @click="reset">Reset calculator</b-button>
    </b-jumbotron>
  </div>
</template>

<script>
import { DateTime } from 'luxon';

export default {
  props: {
    currentYear: {
      type: Number,
      default: 2021,
    },
    registrationTypeOptions: {
      type: Array,
      default: () => [
        {
          id: 0, value1: 0, value3: 0, text: 'AI Technician',
        },
        {
          id: 1, value1: 0.22191781, value3: 0.09589041, text: 'Attendant',
        },
        {
          id: 2, value1: 1.23287671, value3: 0.8630137, text: 'Bookmaker (Company):',
        },
        {
          id: 3, value1: 0.84657534, value3: 0.53333333, text: 'Bookmaker (Individual)',
        },
        {
          id: 4, value1: 0.24383562, value3: 0.11141553, text: 'Bookmaker Clerk',
        },
        {
          id: 5, value1: 0, value3: 0, text: 'Breeder',
        },
        {
          id: 6, value1: 0.38082192, value3: 0.20730594, text: 'Health Assistant',
        },
        {
          id: 7, value1: 0, value3: 0, text: 'Owner',
        },
        {
          id: 8, value1: 0.84657534, value3: 0.53333333, text: 'Promoter',
        },
        {
          id: 9, value1: 0.22191781, value3: 0.09589041, text: 'Race Official',
        },
        {
          id: 10, value1: 0.38082192, value3: 0.20730594, text: 'Studmaster',
        },
        {
          id: 11, value1: 0.28493151, value3: 0.13972603, text: 'Owner Trainer',
        },
        {
          id: 12, value1: 0.38082192, value3: 0.20730594, text: 'Public Trainer',
        },
        {
          id: 13, value1: 0.23013699, value3: 0.10136986, text: 'Trial Track Proprietor',
        },
      ],
    },
  },
  data() {
    return {
      registrationType: [],
      duration: 1,
      startDate: '',
      invalidFlag: false,
      mode: 'question',
      birth: {
        month: null,
        date: null,
      },
      fee: '',
      durationOptions: [
        {
          id: 0, value: 1, text: '1 year',
        }, {
          id: 1, value: 3, text: '3 year',
        },
      ],
      monthOptions: [
        { value: null, text: 'Select a month' },
        { value: 1, text: 'January' },
        { value: 2, text: 'February' },
        { value: 3, text: 'March' },
        { value: 4, text: 'April' },
        { value: 5, text: 'May' },
        { value: 6, text: 'June' },
        { value: 7, text: 'July' },
        { value: 8, text: 'August' },
        { value: 9, text: 'September' },
        { value: 10, text: 'October' },
        { value: 11, text: 'November' },
        { value: 12, text: 'December' },
      ],
    };
  },
  computed: {
    registrationTypeModifier() {
      const unadulteratedModifier = this.registrationType.reduce(
        (acc, id) => acc + this.registrationTypeOptions.find((rto) => rto.id === id)[`value${this.duration}`],
        0,
      );
      return Number.parseFloat(unadulteratedModifier).toFixed(8);
    },
    dayCalculation() {
      if (this.birth.month && this.birth.date) {
        let birthDate = this.birth.date;
        if (
          !DateTime.local(this.currentYear).isInLeapYear
          && this.birth.month === 2
          && this.birth.date === 29
        ) birthDate = 28;

        const start = DateTime.fromISO(this.startDate);

        const planStart = DateTime.local(
          DateTime.local(this.currentYear, this.birth.month, birthDate) < start ? this.currentYear
          + 1 : this.currentYear,
          this.birth.month, birthDate,
        );

        const end = planStart.plus({ years: this.duration });

        return end.diff(start, 'days').as('days');
      }
      return NaN;
    },
    dateOptions() {
      function dateSequence(to) {
        return [...Array(to + 1).keys()].slice(1);
      }
      if ([1, 3, 5, 7, 8, 10, 12].includes(this.birth.month)) {
        return dateSequence(31);
      } if (this.birth.month === 2) {
        return dateSequence(29);
      } if ([4, 6, 9, 11].includes(this.birth.month)) {
        return dateSequence(30);
      }
      return [{
        value: null, text: 'Select a date',
      }];
    },
  },
  methods: {
    state(type) {
      if (this.mode === 'validate') {
        if (type === 'registrationType') {
          if (this.registrationType.length > 0) {
            return true;
          }
          this.invalidFlag = true;
          return false;
        }
        if (type === 'startDate') {
          if (this.startDate.length > 0) {
            return true;
          }
          this.invalidFlag = true;
          return false;
        }
        if (type === 'birthmonth') {
          if (this.birth.month !== null && this.birth.month > 0) return true;
          this.invalidFlag = true;
          return false;
        }
        if (type === 'birthdate') {
          if (this.birth.date !== null && this.birth.date > 0) return true;
          this.invalidFlag = true;
          return false;
        }
      }

      return null;
    },
    reset() {
      Object.assign(this, {
        mode: 'question',
        registrationType: [],
        invalidFlag: false,
        birth: {
          month: null,
          date: null,
        },
        fee: '',
      });
    },
    currency(precisionNumber) {
      return `$${Number.parseFloat(precisionNumber).toFixed(2)}`;
    },
    calculate() {
      this.mode = 'validate';
      this.invalidFlag = false;

      this.state('startDate');
      this.state('registrationType');
      this.state('birthmonth');
      this.state('birthdate');

      if (!this.invalidFlag) {
        this.mode = 'answer';
        this.fee = this.currency(this.dayCalculation * this.registrationTypeModifier);
      }
    },
  },
};
</script>

<style lang="scss" >
.b-form-datepicker {
  button.btn {
    padding: .375rem .75rem
  }
}
</style>
