

html {
  font-size: 14px
}
body {
  color: $navy
}

h1, h2, h3, h4 {
  color: $navy;
}

h1 {
  font-size: 2.214rem;
}
h3 {
  font-size: 1.286rem;
  padding-top: .5em;
}

.lead {
  font-size: 1.35714286rem
}

main a {
  color: $navy;
  text-decoration: underline;
  &:hover {
    text-decoration: none;
  }
}

main a[target="_blank"]:after{
  font-family: themify;
  display: inline-block;
  content: '\e732';
  margin-left: 8px;
  color: $tan;
  text-decoration: none;
  &.hide-external-icon:after {
    content: '';
    margin-left: 0px;
  }
}

a.hover-no-underline {
  text-decoration: underline;
  &:hover {
    text-decoration: none;
  }
}

a.never-underline,
.never-underline a  {
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
  &[target="_blank"]:after {
    content: '';
    margin-left: 0px;
  }
}

.anchor{
  display: block;
  height: 140px; /*same height as header*/
  margin-top: -140px; /*same height as header*/
  visibility: hidden;
}