@import "buttons";
.form-control-lg,
.input-group-lg>.form-control,
.input-group-lg>.input-group-addon,
.input-group-lg>.input-group-btn>.btn{
  font-size:1rem;
}

.form-control {
  border-color: $navy;
}

input.sq-form-field:not([type="checkbox"]),
select.sq-form-field {
  @extend .form-control;
}
.sq-form-question {
  @extend .form-group;
}
.sq-form-question.sq-form-question-tickbox-list ul {
  @extend .list-unstyled;
}
.sq-form-question.sq-form-question-tickbox-list li {
  @extend .form-check;
}
.sq-form-question.sq-form-question-tickbox-list li input[type="checkbox"] {
  @extend .form-check-input;
}
.sq-form-question.sq-form-question-tickbox-list li label {
  @extend .form-check-label;
}
legend.sq-form-question-title {
  font-size: 1rem;
  font-weight: bold;
}
.sq-form-submit {
  @extend .btn;
  @extend .btn-primary;
}
.sq-form-error, .sq-form-required-field {
  @extend .text-danger;
}

//
//.input-group .form-control {
//  border-color: $gray-400
//}