.hero {
  font-size: 1.286rem;
  &__ {
    &text {
      font-size: 1rem;
      @media(min-width: map_get($grid-breakpoints, lg)) {
        font-size: 1.286rem;
        font-weight: 700;
      }
    }
    &bg- {
      &image {
        background-color: transparent;
        background-size: auto 100%;
        background-position: center center;
        background-repeat: no-repeat;
      }
      &dark-opacity {
        background-color: rgba(0,0,0,0.4);
      }
      &level1 {
        background-position: right center;
        background-image: url("../images/hero-level1.jpg");
      }
      &level2 {
        background-image: url("../images/hero-level2.jpg")
      }
      &level3 {
        background-image: url("../images/hero-level3.jpg")
      }
      &level4 {
        background-image: url("../images/hero-level3.jpg")
      }
    }
  }
}

.owl-carousel {

}