.leftnav {
  a {
    text-decoration: none;
  }
  &__ {
    &title-link {
      color: $navy;
    }
  }
  .categories {
    li a {
      border-color: $tan;
      color: $navy;
      &:before {
        color: $tan;
      }
    }
  }
}