.location-finder {
  line-height: 1.3; 
  --map-height: calc(60vh - 80px);
  @media (min-width: 1000px) {
    --map-height: 50vh;
    height: var(--map-height);
  }
  .sidebar {
    overflow-y: scroll;
    height: 150px;
    @media (min-width: 992px) {
      height: var(--map-height);
      border-right: 1px solid rgba(0, 0, 0, 0.25);
      overflow-y: scroll;
    }
  }
  
  .map {
    height: var(--map-height);
    inset:0;
  }
  
  h1 {
    font-size: 22px;
    margin: 0;
    font-weight: 400;
    line-height: 20px;
    padding: 20px 2px;
  }
  
  .listings {
    .item {
      display: block;
      border-bottom: 1px solid #eee;
      padding: 10px;
      text-decoration: none;
    }
    .item:last-child {
      border-bottom: none;
    }
    .item {
      .title {
        display: block;
        font-weight: 700;
        small {
          font-weight: 400;
        }
      }
      &.active {
        background-color: #f8f8f8;
      }
    }
  }
  
  /* Marker tweaks */
  .mapboxgl-popup {
    padding-bottom: 50px;
    line-height: 1.2;
  }
  
  .mapboxgl-popup-close-button {
    display: none;
  }
  .mapboxgl-popup-content {
    padding: 0;
    width: 180px;
    h3 {
      margin: 0;
      padding: 10px;
      border-radius: 3px 3px 0 0;
      font-weight: 700;
      font-size: 16px;
    }
    h4 {
      margin: 0;
      padding: 0 10px 10px 10px;
      font-weight: 400;
      font-size: 14px;
    }
    div {
      padding: 10px;
    }
    > .mapboxgl-popup-content {
      margin-top: 15px;
    }
  }  
}
