.process-block {
  &__ {
    &line {
      @extend .d-flex;
      @extend .justify-content-center;
      @extend .py-3
    }
    &line::before, &line::after {
      content: "";
      width: calc(50% + 30px);
      @media (min-width: map_get($grid-breakpoints, xl)) {

        border-top-width: 1px;
        border-top-style: solid;
      }
    }
    &line::before {
      margin-left: ($grid-gutter-width / -2);
      margin-right: ($grid-gutter-width / 2);
    }
    &line::after {
      margin-right: ($grid-gutter-width / -2);
      margin-left: ($grid-gutter-width / 2);
    }
    &dot {
      position:absolute;
      width: $grid-gutter-width;
      height: $grid-gutter-width;
      border-radius: $grid-gutter-width / 2;
      border: 1px solid $body-color;
      display: flex;
      justify-content: center;
      &.active {
        &::before {
          content: "";
          display: block;
          background: green;
          width: 50%;
          height: 50%;
          border-radius: $grid-gutter-width / 3;
          align-self: center;
        }
      }
    }
  }
}