.navbar {
  &-nav {
    margin-right: 30px;
  }
  &.bg-dark-transparent {
    .nav-link {
      color: white;
    }
  }
  &-brand {
    line-height: 1.3;
    display: none;
  }
  &.nav-stick-top {
    background-color: $navy;
    .navbar-brand {
      display: block;
    }
    .navbar-nav li.nav-item>.nav-link {
      @media (min-width: map_get($grid-breakpoints, lg)) {
        &:hover {
          color: rgba(255,255,255, .7)
        }
      }
    }
  }
  .dropdown .dropdown-menu {
    background-color: $navy;
    color: rgba(255, 255, 255, .8) ;
    padding-top: 1em;
    padding-bottom: 1em;
    min-width: 250px;
    .dropdown-item {
      font-size: 1.143rem;
      padding: 6px 25px 7px 20px;
      &:hover {
        left: 0;
        color: #FFF;
      }
    }
  }
  &.navbar-light .navbar-toggler-icon {
    background-image: $navbar-dark-toggler-icon-bg;
  }
  &-right-elements {
    position: static;
    @media (min-width: map_get($grid-breakpoints, md)) {
      top: 26px;
    }
  }
  & &-nav>li>.nav-link {
    font-size: 0.875em;
    @media (min-width: map_get($grid-breakpoints, lg)) {
      padding: 1.5em;
      &:last-of-type {
        padding-right: 0;
      }
      &:hover {
        color: $navy;
      }
    }
  }
  .active-ancestor.nav-link>span {
    border-bottom: 3px solid $white;
  }
  .dropdown-toggle::after {
    vertical-align: top;
    top: 0px;
    color: rgba(255,255,255, .7)
  }
}
.search-inline button[type="submit"] {
  background-color: $navy;
  width: 80px;
  color: #FFF;
}